{% extends "Base/base.html" %}

{% block title %}
    {{contact}} | Contacts 
{% endblock title %}


{% comment %} ------------------------------------- {% endcomment %}


{% block content %}

    <div>

    <h3> Do you want to delete Contact ({{contact.fullname}})? </h3>
    <ul>
        <li style="display: inline-block;margin : 10px;" >
            <form method='POST'>
                {% csrf_token %}
                {{form}}
                <input type='submit' value='Yes , Delete Contact' style="background-color=red"> 
            </form>
        </li>
        <li style="display: inline-block;margin : 10px;">
            <a href="{{usr.get_contacts_url}}"><button> No , Back To contacts</button></a>
        </li>
    </ul>

    <div>

{% endblock content %}