{% extends "Base/base.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'javascript/codes.js' %}"></script> 
{% endblock head %}

{% block title %}
    Login
{% endblock title %}

{% comment %} ------------------------------------- {% endcomment %}

{% block content %}
    <form method="POST" action="" >
        {% csrf_token %}

        {{form.as_p}}
        
        <hr><hr>
        <button type="submit">Login</button>
    </form>

    <br><br>

    


{% endblock content %}