{% extends "Base/base.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'javascript/codes.js' %}"></script>
{% endblock %}
 
{% block title %}
    Logout User : {{usr.user.username}}
{% endblock title %}



{% comment %} ------------------------------------- {% endcomment %}


{% block content %}
    <h3> Do you want to Logout From your account? </h3>
    <ul>
        <li style="display: inline-block;margin : 10px;" >
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <input type='submit' value='Yes , Logout my account' style="background-color=red"> 
            </form>
        </li>
        <li style="display: inline-block;margin : 10px;">
            <a href="{% url 'messenger:main_page' %}"><button> No , Back To main page</button></a>
        </li>
    </ul>

    

{% endblock content %}