{% extends "Base/base.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'javascript/codes.js' %}"></script> 
{% endblock head %}

{% block title %}
    Signup
{% endblock title %}

{% comment %} ------------------------------------- {% endcomment %}

{% block content %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}
        
        <hr><hr>
        <button type="submit">Signup</button>
    </form>

    <br>

{% endblock content %}