{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/django.png' %}"
    />
    <title>{% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    {% include "partials/navbar.html" %}
    {% block content %} {% endblock content %}

    {% include "partials/footer.html" %}


    <script src="{% static 'javascript/script.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    {% block custom_js %} {% endblock custom_js %}
  </body>
</html>
