#messages {
    background-color: darkturquoise;
    font-size: 20px;
    font-family: monospace;
    margin : 20px;
    width : 800px;
    text-align: center;
}
/* ------------------------- */
#add_contact {
    text-align: center;
    background-color: chocolate;
    text-shadow: 10px;
    font-size: larger;
}