{% extends "base/base.html" %}


{% block title %}
    {{usr.user.username}} | Contacts
{% endblock title %}



{% comment %} ------------------------------------- {% endcomment %}


{% block content %}

    <div id="contact_list">
        <h3 style="text-align: center;">CONTACTS</h3>
        {% if contacts.count %}
            <ul>
            {% for contact in contacts %}
                <li>    
                    <a href='{{contact.get_contact_url}}'> {{contact.fullname}}  </a>
                </li>
            {% endfor %}      
            </ul>

        {% else %}
            There is No Contacts
        {% endif %}
        <a href="{{usr.get_add_contact_url}}"> Add Contact </a>
    </div>

{% endblock content %}