{% extends "base/base.html" %}

{% block title %}
    {{user.username}}
{% endblock title %}


{% comment %} ------------------------------------- {% endcomment %}


{% block content %}
    
    <div class="profile">
        first name : {{user.first_name}}
        <br>
        last name  : {{user.last_name}}
        <br>
        age : {{profile.age}}
        <br>
        phone number : {{profile.phone_number}}
        <br>
        ssn : {{profile.ssn}}
        <br>
        about : {{profile.about}}
        <br>
        email : {{user.email}}
        <br>
        {% if profile.photo %}
             photo : <img src="{{profile.photo.url}}" onclick="showOriginal(this)" alt="profile photo" width="150px" height="170px" >
        {% else %}
            photo : There is no photo
        {% endif %}
        <br>
    </div>

    <div id="mask" onclick="hideImg()"></div>

    <div class="editOptions">
        <a href="{{profile.get_panel_edit_url}}">Edit</a> | 
        <a href="{{profile.get_panel_delete_url}}/delete-user">Delete</a>
    </div>


{% endblock content %}