{% extends "base/base.html" %}

{% block title %}
    {{usr.user.username}}
{% endblock title %}


{% comment %} ------------------------------------- {% endcomment %}


{% block content %}
    
    <div class="profile">
        first name : {{usr.user.first_name}}
        <br>
        last name  : {{usr.user.last_name}}
        <br>
        age : {{usr.user_age}}
        <br>
        phone number : {{usr.user_phone_number}}
        <br>
        ssn : {{usr.user_ssn}}
        <br>
        about : {{usr.user_about}}
        <br>
        email : {{usr.user.email}}
        <br>
        {% if usr.user_photo %}
             photo : <img src="{{usr.user_photo.url}}" onclick="showOriginal(this)" alt="profile photo" width="150px" height="170px" >
        {% else %}
            photo : There is no photo
        {% endif %}
        <br>
    </div>

    <div id="mask" onclick="hideImg()"></div>

    <div class="editOptions">
        <a href="{{usr.get_panel_url}}/change-info">Edit</a> | 
        <a href="{{usr.get_panel_url}}/delete-user">Delete</a>
    </div>


{% endblock content %}