
{% for message in messages %}
    <div id="messages" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" >
        <script>setTimeout(remove, 7000)</script>
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" onclick="remove()" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" >&times;</span>
        </button>
    </div>
{% endfor %}


{% comment %} {% if form.errors %}
    <h1> <u>Something wrong</u> </h1>
    <div class="alert alert-danger">
        <ol>
            {% for field in form %}
                {% for error in field.errors %} 
                    <li style="margin-left:30px;">
                        <strong style="padding:10px;">{{ error }}.</strong>
                    </li>
                {% endfor %}
            {% endfor %}
        </ol>
        <ul>
            {% if form.non_field_errors %}
            <p>Error Type2 </p>
            <li>{{form.non_field_errors}} </li>
            {% endif %}
        </ul>
    </div>
{% endif %} {% endcomment %}