{% extends "Base/base.html" %}
{% load static %}
 

{% block title %}
    Sinagram
{% endblock title %}



{% comment %} ------------------------------------- {% endcomment %}


{% block content %}

    <h1> Welcome </h1>
    <div class="IntroLinks">
        <h3> <a href="{% url 'messenger:signup' %}"> >Signup </a> </h3>
        <h3> <a href="{% url 'messenger:login' %}"> >Login </a>  </h3>
        {% if user.is_authenticated %}
            <h3> <a href="{% url 'messenger:logout' %}"> >logout</a></h3>
            <h3> <a href="{{usr.get_panel_url}}"> >panel </a> </h3>
        {% endif %}
    </div>

{% endblock content %}